body{
    background-color: aqua;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.cart {
    background-color: yellow;
    text-align: center;
}
.warning {
    text-emphasis-color: red;
}

.large {
    background-color: chocolate;
}
.medium {
    background-color:darkgoldenrod;
}
.small {
    background-color:crimson;
}
.contacts {
    background-color:darkslateblue;
}
.pizzaBox {
    border: 1px solid;
    border-radius: 0.15em;
    border-color: rgb(105, 103, 103);
    padding: 0.5em;
    margin: 1em;
    flex: 1;
}
@media (min-width : 960px) {
.box{
    display:flex;
}
}
h1 {
    text-align: center;
}
.price {
    font-weight: bolder;
}
img {
    display :inline-block;
    background-color: white;
    padding: 0.5em;
}
div{
    display: inline-flex;
}

.details {
    /*border: 1px solid;*/
    display:inline-block;
    margin-right: 2em;
}